/* CreatePage.css */

/* Color Palette */
:root {
  --dark-font:      #1b2432; /* Dark Font */
  --dark-color:     #071425; /* Dark Blue */
  --coral-red:      #fe5e41; /* Coral Red */
  --orange:         #f3c178; /* Sandy Orange */
  --sky-blue:       #92d5e6; /* Sky Blue */
  --background:     #fdf7e7; /* Lighter Cream */
  --background-alt: #ead9b8; /* Light Cream */
  --card-background:#ffffff; /* White */
}

.create-page-body {
  font-family: "Open Sans", sans-serif;
  color: var(--dark-font);
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 64px);
  padding-left: 3.0rem;
  padding-right: 3.0rem;
}

.create-page-title {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 2.25rem;
  margin-bottom: 0.25rem;
}

.create-form-card {
  border: 1px solid var(--dark-color);
  border-radius: 0.75rem;
  background-color: var(--card-background);
}

.create-form-card-title {
  margin-bottom: 0.75rem;
}

.create-form {
  margin: 0.75rem;
}

.create-form-card .form-entry {
  display: grid;
  gap: 0.5rem;
}

/* Create Page Buttons */
#publishButton {
  --bs-btn-font-weight: 500;
  --bs-btn-font-family: "Open Sans", sans-serif;
  --bs-btn-color: var(--background);
  --bs-btn-bg: var(--coral-red);
  --bs-btn-border-color: var(--coral-red);
  --bs-btn-hover-color: var(--coral-red);
  --bs-btn-hover-bg: var(--background);
  --bs-btn-hover-border-color: var(--coral-red);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: var(--coral-red);
  --bs-btn-active-border-color: var(--dark-color);
  width: fit-content;
  border-radius: 9999px;
}


