/* Color Palette */
:root {
  --dark-font:      #1b2432; /* Dark Font */
  --dark-color:     #071425; /* Dark Blue */
  --coral-red:      #fe5e41; /* Coral Red */
  --orange:         #f3c178; /* Sandy Orange */
  --sky-blue:       #92d5e6; /* Sky Blue */
  --background:     #fdf7e7; /* Lighter Cream */
  --background-alt: #ead9b8; /* Light Cream */
  --card-background:#ffffff; /* White */
}

.feed-page {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 64px);
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 4.0rem;
    padding-right: 4.0rem;
}

.feed-page-title {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-size: 2.25rem;
    margin-bottom: 0.25rem;
}

.feed-page {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 64px);
}

.feed-list {
    margin-top: 1rem;
}

